
@{
    ViewData["Title"] = "ثبت جدید";
    Layout = "~/Views/Shared/_layout.cshtml";
}


<form asp-controller="Home" asp-action="Create" method="post" enctype="multipart/form-data">
    <div class="cadr">
        <div class="container">
            <div class="row">
                <div class="col-3">
                    گوینده مبدا :
                </div>
                <div class="col-9">
        
                    <input name="input1"
                           type="file" class="dropify"
                           data-show-loader="true"
                           accept="audio/mpeg"
                           id="file" size="50">
                </div>
            </div>

            <div class="row">
                <div class="col-3">
                    گوینده مقصد :
                </div>
                <div class="col-9">
                    <input name="input2"
                           type="file" class="dropify"
                           data-show-loader="true"
                           accept="audio/mpeg"
                           id="file" size="50">
                </div>
            </div>


            <div>
                <a class="btn btn-lg btn-warning">بازگشت</a>
                <button type="submit" class="btn btn-lg btn-success">ثبت</button>
            </div>


        </div>
    </div>

</form>

