
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_layout.cshtml";
}



<div class="cadr">
    <div class="container">
        <div class="row">

            <a class="btn btn-lg btn-success">جدید</a>


            <table class="table text-center table-bordered mt-4">
                <thead class="thead-light">
                    <tr>
                        <th>ردیف</th>
                        <th>گوینده مبدا</th>
                        <th>گوینده صدا</th>
                        <th>خروجی تولید شده</th>
                        <th>وضعیت</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="vertical-center">1</td>
                        <td class="vertical-center">
                            <audio id="myAudio" controls>
                                <source src="Kalimba.mp3" type="audio/mpeg">
                            </audio>
                        </td>
                        <td class="vertical-center">
                            <audio id="myAudio" controls>
                                <source src="Kalimba.mp3" type="audio/mpeg">
                            </audio>
                        </td>
                        <td class="vertical-center">
                            <audio id="myAudio" controls>
                                <source src="Kalimba.mp3" type="audio/mpeg">
                            </audio>
                        </td>
                        <td class="vertical-center">
                            <i class="fa fa-spinner text-warning" aria-hidden="true"></i>
                            <i class="fa fa-check text-success" aria-hidden="true"></i>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>


