
@{
    ViewData["Title"] = "ثبت جدید";
    Layout = "~/Views/Shared/_layout.cshtml";
}



<div class="cadr">
    <div class="container">
        <div class="row">
            <div class="col-3">
                گوینده مبدا :
            </div>
            <div class="col-9">
                <audio id="myAudio" controls>
                    <source src="Kalimba.mp3" type="audio/mpeg">
                </audio>
            </div>
        </div>

        <div class="row">
            <div class="col-3">
                گوینده مقصد :
            </div>
            <div class="col-9">
                <audio id="myAudio" controls>
                    <source src="Kalimba.mp3" type="audio/mpeg">
                </audio>
            </div>
        </div>

        <div class="row">
            <div class="col-3">
                خروجی تولیدی :
            </div>
            <div class="col-9">
                <audio id="myAudio" controls>
                    <source src="Kalimba.mp3" type="audio/mpeg">
                </audio>
            </div>
        </div>


    </div>
</div>


